# git ignore file
CustomTransportChannel.v11.suo
CustomTransportChannelClient\bin\**\*
CustomTransportChannelClient\obj\**\*
CustomTransportChannelLibrary\bin\**\*
CustomTransportChannelLibrary\obj\**\*
CustomTransportChannelService\bin\**\*
CustomTransportChannelService\obj\**\*
SharedContracts\bin\**\*
SharedContracts\obj\**\*
