<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add
          name="fileTransportBinding"
          type="CustomTransportChannelLibrary.FileTransportBindingCollectionElement, CustomTransportChannelLibrary"/>
      </bindingExtensions>
    </extensions>
    <bindings>
      <fileTransportBinding>
        <binding name="ReverseServer" />
      </fileTransportBinding>
    </bindings>
    <services>
      <service name="CustomTransportChannelService.Reverse">
        <endpoint 
          address="my.file://localhost/x" 
          binding="fileTransportBinding" 
          bindingConfiguration="ReverseServer" 
          contract="SharedContracts.IReverse" />
      </service>
    </services>
  </system.serviceModel>
</configuration>