<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add
          name="fileTransportBinding"
          type="CustomTransportChannelLibrary.FileTransportBindingCollectionElement, CustomTransportChannelLibrary"/>
      </bindingExtensions>
    </extensions>
    <bindings>
      <fileTransportBinding>
        <binding 
          name="fileTransportBinding_IReverse" 
          closeTimeout="00:01:00" 
          openTimeout="00:01:00" 
          receiveTimeout="00:10:00" 
          sendTimeout="00:01:00" />
      </fileTransportBinding>
    </bindings>
    <client>
      <endpoint 
        address="my.file://localhost/x" 
        binding="fileTransportBinding" 
        bindingConfiguration="fileTransportBinding_IReverse" 
        contract="SharedContracts.IReverse" 
        name="ReverseClient" />
    </client>
  </system.serviceModel>
</configuration>